html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.progress-bar.material-red {
  background-color: #F44336;
}

.progress-bar.material-yellow {
  background-color: #FFEB3B;
}

.progress-bar.material-orange {
  background-color: #FF9800;
}

.progress-bar.material-blue {
  background-color: #2196F3;
}

.progress-bar.material-green {
  background-color: #4CAF50;
}

.container {
    margin-top: -25vh;
    position: relative;
    z-index: 1;
    text-align: center;
}

.header-panel {
    background-color: #009688;
    height: 33.33vh;
    position: relative;
}

.modal-dialog-center {
    margin-top: 0;
    top: 33.33vh;
}

.floating-button {
    margin-top: 56vh;
    margin-left: 81vw;
    position: fixed;
    z-index: 2;
}

.extraContent {
    text-align: left;
}

.well #AboutMe {
  margin-left: 1vw;
  margin-right: 1vw;
}

.well #Skills {
  margin-left: 1vw;
  margin-right: 1vw;
}

.extraContent a:link {
    text-decoration: none;
    color: #424242;
}

.extraContent a:visited {
    text-decoration: none;
}

.extraContent a:hover {
    color: #000000;
    text-decoration: none;
}

.extraContent a:hover i {
    color: #00695C;
}

.extraContent a:active {
    text-decoration: none;
}

.link i {
    color: #009688;
}

img.social:hover {
    opacity: 0.84;
}

img.flag {
    height: 56px;
    width: 56px;
}

.year {
    color: #2196F3;
}

i.small {
    font-size: 1em;
}

i.normal {
    font-size: 2em;
}

i.medium {
    font-size: 3em;
}

i.large {
    font-size: 4em;
}

figure {
    text-align: center;
}

.skill .progress {
    margin-top: 26px;
}

.arrow {
    float: right;
}

footer {
  color: white;
  text-align: center;
	padding: 2vh;
	margin-top: 5vh;
	background-color: #424242;
}
